html, body {
  font-size: 14px; /* 设置字体大小为14px */
  line-height: 1.5em; /* 设置行高为1.5em */
  background-image: url("https://i.ytimg.com/vi/Q1FglhxX6pQ/maxresdefault.jpg"); /* 设置背景图片 */
  background-color: white; /* 设置背景颜色为白色 */
  background-position: center; /* 背景图片居中显示 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-size: cover; /* 背景图片覆盖整个页面 */
  height: 100%; /* 页面高度为100% */
}
#content {
  -webkit-box-shadow: none; /* 去掉阴影效果 */
  box-shadow: none; /* 去掉阴影效果 */
  background: transparent; /* 背景设置为透明 */
}

/* 元素的阴影效果，并将背景设置为透明。 */

#content #list-languages {
  text-align: right; /* 文本对齐设置为右对齐 */
}

/* 文本对齐设置为左对齐 */

#login {
  float: none; /* 不浮动 */
  width: 100%; /* 宽度为100% */
  margin-top: 120px; /* 上边距为120px */
}

#login #main {
  position: relative; /* 相对定位 */
  width: 308px; /* 宽度为308px */
  margin: 0 auto; /* 水平居中 */
  background-color: white; /* 背景颜色为白色 */
}

#login #main .area {
  margin-bottom: 20px; /* 下边距为20px */
}

#login #main .area input.required {
  width: 294px; /* 输入框宽度为294px */
  height: 28px; /* 输入框高度为28px */
  font-size: 14px; /* 字体大小为14px */
  background-color: #F3F3F3; /* 背景颜色为浅灰色 */
  border-color: #F3F3F3; /* 边框颜色为浅灰色 */
}

#login #main .area input.required:hover,
#login #main .area input.required:focus {
  background-color: white; /* 鼠标悬停或聚焦时背景颜色为白色 */
  border-color: #1BB6B7; /* 边框颜色为蓝绿色 */
  outline: none; /* 去掉轮廓 */
}

#login #main .area.btn-area input.btn-submit {
  width: 308px; /* 提交按钮宽度为308px */
  height: 42px; /* 提交按钮高度为42px */
  margin: 0; /* 去掉外边距 */
  border: 1px solid #18A5A5; /* 边框颜色为深蓝绿色 */
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; /* 圆角边框 */
  background-color: #1BB6B7; /* 背景颜色为蓝绿色 */
  font-size: 14px; /* 字体大小为14px */
  color: white; /* 字体颜色为白色 */
}

#content { 
  -webkit-border-bottom-right-radius: 4px; 
  -webkit-border-bottom-left-radius: 4px; 
  -moz-border-radius-bottomright: 4px; 
  -moz-border-radius-bottomleft: 4px; 
  border-bottom-right-radius: 4px; 
  border-bottom-left-radius: 4px; 
}
/*圆角效果*/

#content { 
  padding: 10px; /* 内边距为10px */
  overflow: hidden; /* 溢出隐藏 */
}

#main { 
  padding: 20px; /* 内边距为20px */
  background: #eee; /* 背景颜色为浅灰色 */
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; /* 圆角边框 */
}

#main h2 { 
  font-size: 1.4em; /* 字体大小为1.4em */
  font-weight: normal; /* 字体正常 */
  padding-bottom: 10px; /* 下内边距为10px */
  margin-bottom: 10px; /* 下外边距为10px */
  border-bottom: 1px solid #DDDDDD; /* 下边框为浅灰色 */
}

#main .area { 
  margin-bottom: 10px; /* 下边距为10px */
}

#main .area label { 
  display: block; /* 标签块级显示 */
  color: #777777; /* 标签颜色为深灰色 */
}

#main .area input[type=text],
#main .area input[type=password] { 
  padding: 6px; /* 内边距为6px */
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; /* 圆角边框 */
  border: 1px solid #DDDDDD; /* 边框颜色为浅灰色 */
  background: #FFFFDD; /* 背景颜色为淡黄色 */
}