.whole-image {
    display: block;
    margin: 0 auto;
    width: 943px;
    height: auto;
}

h2 {
    text-align: center;
    font-size: 180%;
    font-family: '宋体';
}

.button {
    text-align: center;
}