/*bottom*/
hr{width: 100%;
    border-top:3.5px solid rgb(7, 112, 72);}
   .ulgc1{
       list-style: none;}
   .ulgc2{list-style:none;
       text-align: center ;}
   .ulgc2 li{display: inline-block;
     margin-right: 10px;
   
   }
   .ulgc2 li img{
       padding: 3px;
       width: 42px;
       height: 42px;
   }
   .text-center-copyright{text-align: center;}
   .menu-item {
       position: relative; /* 为父元素设置相对定位 */
   }
   
   .menu-item ul {
       display: none; /* 默认隐藏下拉菜单 */
       position: absolute; /* 设置为绝对定位 */
       top: 100%; /* 使下拉菜单出现在父元素下方 */
       left: 0; /* 对齐到左侧 */
       z-index: 9999; /* 确保下拉菜单在其他元素之上 */
   }
   
   .menu-item:hover ul {
       display: block; /* 当鼠标悬停时显示下拉菜单 */
   }
   /*bottom*/
   hr {
       width: 100%; 
       margin: 20px auto; 
       border-top: 3.5px solid rgb(7, 112, 72); 
   }
   .ulgc1 {
       text-align: left;
       padding-left: 10px; 
   }
   .ulgc2{list-style:none;
       text-align: center ;}
   .li{display: inline-block;
     margin-right: 10px;}
   .text-center-copyright{text-align: center;}
   footer{position: fixed;
       bottom: 0;
       width:100%}
   
   .ulgc1 img {
     width: 100%; /* 设置宽度为100% */
     height: auto; /* 高度自动调整以保持比例 */
     aspect-ratio: 1 / 1; /* 设置宽高比为1:1，确保为正方形 */
     object-fit: cover; /* 确保图片填满容器且不失真 */
   }
   .whole-image {
    display: block;
    margin: 0 auto;
    width: 943px;
    height: auto;
}
 /*上述css为顶部与底部样式 与首页相同 */

 /*子页面内容的标题样式*/
h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: '宋体';
}

/*子页面底部按钮的样式*/
.button {
    text-align: center;
}

#return{
    color: lightblue;
}

#prevButton{
    color:lightblue
}

#nextButton{
    color:lightblue
}

/*子页面索引中部分文字的样式*/
.index{ 
    color: grey;
}

/*索引中最新消息跳转界面的背景图 内容的样式*/
.newpage{
    background-image: url(https://sao.cityu.edu.mo/uploads/theme/d47308c3ab39aae17cfd4050869e04fc.png);
    text-align: center;
}

#left-icon{
    position: absolute;
    left: 5;
    background-color: grey;
    width: 50px;
    height: 50px;
}

#expand{
    display: none;
    position: absolute;
    padding: 20px;
    left: 50px;
    width: 110px;
    height: 110px;
    background-color: green;
  }